<% include includes/header.ejs %>

<div class="container">
<h3 style="text-align: center"> Bicicletas en Tránsito</h3>
<h1 style="font-size: 120px;
line-height: 1;
letter-spacing: -2px;margin-left:auto;
margin-right:auto;text-align:center;"><%-sessions.length%></h1>
<div>


</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre y Apellido</th>
      <th>DNI</th>
      <th>Celular</th>
      <th>Ver Más</th>
    </tr>
  </thead>
  <tbody>

      <%
      users.forEach(function (user) {
      %>
        <tr>
          <td><%-user.id%></td>
          <td><a href="/users/<%-user.id%>" ><%-user.name%> <%-user.apellido%> </a></td>
          <td><%-user.dni%></td>
          <td><%-user.cel%></td>
          <td><a class="btn btn-mini" href="/users/<%-user.id%>">+</a></td>
        </tr>
      <%
      });
      %>

  </tbody>
</table>

</div>


<% include includes/footer.ejs %>
