<% include includes/header.ejs %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>IP</th>
      <th>Coords</th>
    </tr>
  </thead>
  <tbody>

      <%
      stations.forEach(function (station) {
      %>
        <tr>
          <td><%-station.id%></td>
          <td><a href="/stations/<%-station.id%>" ><%-station.name%> </a></td>
          <td><%-station.ip%></td>
          <td><%-station.coords.lat%> , <%-station.coords.long%></td>
        </tr>
      <%
      });
      %>

  </tbody>
</table>


<% include includes/footer.ejs %>
