<% include includes/header.ejs %>

<h2>Listado de usuarios</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre y Apellido</th>
      <th>DNI</th>
      <th>Celular</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

      <%
      users.forEach(function (user) {
      %>
        <tr>
          <td><%-user.id%></td>
          <td><a href="/users/<%-user.id%>" ><%-user.name%> <%-user.apellido%> </a></td>
          <td><%-user.dni%></td>
          <td><%-user.cel%></td>
          <td><a class="btn btn-mini" href="/users/<%-user.id%>">+</a></td>
        </tr>
      <%
      });
      %>

  </tbody>
</table>


<% include includes/footer.ejs %>
